#header {
   position:fixed;
   left:0px;
   top:0px;
   height:50px;
   width:100%;
   background: #595959;
}

#header-text {
  position: relative;
  top: 10%;
  left:30px;
  transform: translateY(-50%);
}

.button-spacing {
  margin-bottom: 50px;
  width: 100%;
}

.textbox-output {
  margin-top: 40px;
  height: 240px;
}

#clear-window-button {
  width: 15%;
  margin-right: 5%;
  position: absolute;
  right: 0;
}

#clear-window-button {
  width: 15%;
}

#main-body {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

#left-buttons {
    float: left;
    padding-top: 50px;
    width: 25%;
    padding-left: 5%;
}

#right-status {
    float: right;
    width: 60%;
    padding-top: 50px;
    padding-right: 5%;
}

input {
  font-family:Consolas;
}

.labels {
  font-family: Arial;
}
